<!DOCTYPE html>
<html>
<head>
	<title>{{ title }} </title>
</head>
<body>
	Berikut adalah daftar hasil produksi<br><br>
	<table class="responsive-table">
	  <thead class="materialize-red-text text-lighten-3">
	    <tr>
	      <th scope="col">No.</th>
	      <th scope="col">Kode Product</th>
	      <th scope="col">No. Batch</th>
	      <th scope="col">No. Palet</th>
	      <th scope="col">Tanggal Produksi</th>
	      <th scope="col">Jam Produksi</th>
	      <th scope="col" colspan="2">Options</th>
	    </tr>
	  </thead>
	  <tbody>   
	  	{% for a in productperpalet reversed %}
	    	<tr>
		      <th scope="row">{{forloop.counter }}</th>
		      <td>{{ a.kode_product }}</td>
		      <td>{{ a.nomor_batch }}</td>
		      <td>{{ a.nomor_palet }}</td>
		      <td> {{a.tanggal_produksi|date:'d F Y'}} </td>
		      <td> {{a.tanggal_produksi|date:'H:i'}} </td>
		      <td><a class="btn btn-danger" href="/produksi/palet/{{ a.productperpalet_id }}" title="">Lihat QRCODE</a></td>
		      <td><a class="btn btn-danger" href="/produksi/history/{{ a.productperpalet_id }}" title="">Lihat history</a></td>
		    </tr>
		{%endfor%}	
	  </tbody>
	</table>
</body>
</html>