{% extends "base.html" %}
{% load staticfiles %}

{% block contents %}

<div >
{% for a in productperpalet %}

<!-- <a href="/produksi"><img src="/static/home.png" style=" width: 25px; height:25px; border:0; margin: 5px; " ></a> -->

<div id="qrcode" style="width:200px; height:200px;">
<!-- <img src="/static/futami.png" style="
position: relative; 
top: 255px;
left:200px;
background-color: white;
border-radius:6px;
width:110px; 
height:40px
z-index: 1"> -->
</div>
<br>
<input id="text" type="text" value="{{ a.productperpalet_id }}-{{ a.kode_product }}-{{ a.nomor_batch }}-{{ a.nomor_palet }}-{{ a.tanggal_produksi|date:'d-m-Y' }}" style="width:auto;text-align: center;" readonly>

<br>
<u> {{ title }}</u>
<table class=" ">
	<tr>
		<td>kode product</td>
		<td> : </td>
		<td>{{ a.kode_product }}</td>
	</tr>
	<tr>
		<td>nomor batch</td>
		<td> : </td>
		<td>{{ a.nomor_batch }}</td>
	</tr>
	<tr>
		<td>nomor palet</td>
		<td> : </td>
		<td>{{ a.nomor_palet }}</td>
	</tr>
	<tr>
		<td>tanggal diproduksi</td>
		<td> : </td>
		<td>{{ a.tanggal_produksi|date:'d-m-Y' }}</td>
	</tr>
</table>

{% endfor%}
<form>
<button class="btn m-btn--pill " onclick="print_qr()">Print</button>
<input class="btn m-btn--pill " type="button" value="Kembali" onclick="history.back()">


</form>
</div>

<script type="text/javascript">

function print_qr() {
  window.print();
}
function resizeInput() {
    $(this).attr('size', $(this).val().length);
}
// auto width input text
$('input[type="text"]')
    // event handler
    .keyup(resizeInput)
    // resize on page load
    .each(resizeInput);
// end line auto width input text

var qrcode = new QRCode(document.getElementById("qrcode"), {
	width : 200,
	height : 200
});

function makeCode () {		
	var elText = document.getElementById("text");
	if (!elText.value) {
		elText.focus();
		return;
	}
	qrcode.makeCode(elText.value);
}
makeCode();
$("#text").
	on("blur", function () {
		makeCode();
	}).
	on("keydown", function (e) {
		if (e.keyCode == 13) {
			makeCode();
		}
	});
</script>
{% endblock contents %}