<!DOCTYPE html>
<html>
<head>
	<title>{{ title }} </title>
</head>
<body>
	<form method="POST">
	{% csrf_token %}
<!-- 	<table>
		<tr>
			<td><b>Kode product perpalet</b></td>
			<td>: {{transisi_form.product_per_palet}} </td>
		</tr>	
		<tr>
			<td><b>Lokasi product perpalet </b></td> 
			<td>: {{transisi_form.status_perpindahan }} </td> 
		</tr>
		<tr>
			<td><b>Status Product </b> </td>
			<td>: {{statusproductform.status_product }}</td>
		</tr>
	</table> -->
	<table>
		{{transisi_form.as_table}} {{statusproductform.as_table}}	
	</table>
	<button type="Submit">SAVE</button>
	</form>
</body>
</html>